@import '../../App/App.scss';

#PopularLiveStream{
    background: $main_bg;
    border-radius: $main_boder_radius;
    padding-bottom: 5rem !important;
}
.discoverAll{
    width: 15rem;
    margin-top: -1.5rem;
}