@import '../../App/App.scss';


.sectionWrapper{
    .cardGameWrapper{
        background: $main_bg;
        border-bottom: 1px solid rgb(50, 50, 50);
        .cardLibrary{

            .cardImg img{
                border-radius: $main_boder_radius;
                width: 50%;
            }

            p{
                color:$main_font_color;
            }

            .primaryBtn>*{
                background-color: $section_bg;
                color:$main_font_color !important;
                border-color: $main_font_color;
            }
        }
    }
}


@media (max-width: 575px){
        .cardGameWrapper{
            text-align: center;

            .cardImg img{
                width: 30% !important;
            }

            h5{
                font-size: 0.8rem;
            }
            p{
                font-size: 0.8rem;
            }
    }
}
@media (min-width: 768px){
        .cardGameWrapper{
            .primaryBtn{
                width: 10rem;
            }
    }
}
@media (min-width: 992px){
        .cardGameWrapper{
        .primaryBtn{
            width: 8rem;
            padding:0;
        }
    }
}

@media (min-width:1300px){
    .cardGameWrapper{
    .primaryBtn{
        width: 11rem;
        padding:0;
    }
}
}
